<h1>Editing Word</h1>

<%= render 'form', word: @word %>

<% if session[:return_to] %>
  <%= link_to '返回', session.delete(:return_to) %>
<% end %>
<br>
<%= link_to '首页', root_path %>
<br>
<%= link_to 'Destroy', @word, method: :delete, data: { confirm: 'Are you sure?' } %>